@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
    /* height: 4200px; */
}

/* CUSTOMIZE  */

section {
    margin-left: 4rem;
    margin-right: 4rem;
}

/* END CUSTOMIZE  */

/* HERO SECTION  */

/* IMAGES SECTION  */

.img-container {
    animation: fade-up linear;
    animation-timeline: view(650px 0);
}

@keyframes fade-up {
    from {
        opacity: 0.3;
        transform: scale(0.5);
        transform: translatey(200px);
    }
    to {
        opacity: 1;
        transform: scale(1);
        transform: translatey(0);
    }
}
