@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Inter", sans-serif;
}

/* CUSTOMIZE  */

section {
    margin-left: 4rem;
    margin-right: 4rem;
}

/* END CUSTOMIZE  */


/* HERO SECTION  */





/* IMAGES SECTION  */

.img-container {
    animation: fade-up linear;
    animation-timeline: view(650px 0);
}

@keyframes fade-up {
    from {
        opacity: .3;
        transform: scale(.5);
        transform: translatey(200px);
    }to {
        opacity: 1;
        transform: scale(1);
        transform: translatey(0);
    }
}



/* MAP SECTION  */

#map > div {
    animation: change-bg-map-color linear both;
    animation-timeline: scroll(root block);
    animation-range: 1250px 1700px; 
}

@keyframes change-bg-map-color {
    from {
        background-color: white;
        opacity: 0;
    }
    to {
        background-color: #202020;
        opacity: 1;
    }
}

